In [1]:
import csv
from csv import writer
from csv import DictWriter
import pandas as pd

In [2]:
df=pd.read_csv(r"video_Data23.csv")

In [3]:
df

,type,gConfId,viewer,publishedDuration,timeSpent,topics,channels
0,kapsuleView,d060a496adf41e03924be034a4900982,6f3cac6213ffceee27cc85414f458caa,209,0,"['Beatles', 'Music', 'Songs']",['test4112101']
1,kapsuleView,caf15e9c4f6875f3464635d9121b338e,6f3cac6213ffceee27cc85414f458caa,341,2,NaN,"['testcoun14845028', 'extrspor815448']"
2,kapsuleView,16ebd5d71c182689e03d268f20f0d881,e5f85dfadc767b30248963bff66ca5a0,20,0,NaN,[]
3,kapsuleView,caf15e9c4f6875f3464635d9121b338e,6f3cac6213ffceee27cc85414f458caa,341,26,NaN,"['testcoun14845028', 'extrspor815448']"
4,kapsuleView,9a4d559f7b465b9d2b0724b1c3bad3c4,7b02c48d4240f57eb58874a04bbd52ec,628,0,NaN,"['datascie15186137', 'remi4271724']"
...,...,...,...,...,...,...,...
37335,kapsuleView,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,209,0,"['Beatles', 'Music', 'Songs']","['stat10950965', 'worl12868041']"
37336,kapsuleView,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,209,0,"['Beatles', 'Music', 'Songs']","['stat10950965', 'worl12868041']"
37337,kapsuleView,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,341,0,NaN,['extrspor815448']
37338,kapsuleView,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,255,0,NaN,"['stat10950965', 'worl12868041', 'comp8710384']"
37339,kapsuleView,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,170,0,NaN,[]

In [4]:
data=df.loc[:,['gConfId','viewer','publishedDuration','timeSpent','channels','topics']]
data

,gConfId,viewer,publishedDuration,timeSpent,channels,topics
0,d060a496adf41e03924be034a4900982,6f3cac6213ffceee27cc85414f458caa,209,0,['test4112101'],"['Beatles', 'Music', 'Songs']"
1,caf15e9c4f6875f3464635d9121b338e,6f3cac6213ffceee27cc85414f458caa,341,2,"['testcoun14845028', 'extrspor815448']",NaN
2,16ebd5d71c182689e03d268f20f0d881,e5f85dfadc767b30248963bff66ca5a0,20,0,[],NaN
3,caf15e9c4f6875f3464635d9121b338e,6f3cac6213ffceee27cc85414f458caa,341,26,"['testcoun14845028', 'extrspor815448']",NaN
4,9a4d559f7b465b9d2b0724b1c3bad3c4,7b02c48d4240f57eb58874a04bbd52ec,628,0,"['datascie15186137', 'remi4271724']",NaN
...,...,...,...,...,...,...
37335,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,209,0,"['stat10950965', 'worl12868041']","['Beatles', 'Music', 'Songs']"
37336,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,209,0,"['stat10950965', 'worl12868041']","['Beatles', 'Music', 'Songs']"
37337,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,341,0,['extrspor815448'],NaN
37338,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,255,0,"['stat10950965', 'worl12868041', 'comp8710384']",NaN
37339,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,170,0,[],NaN

In [5]:
data.dtypes

gConfId              object
viewer               object
publishedDuration     int64
timeSpent             int64
channels             object
topics               object
dtype: object

In [6]:
data['ratioTP'] = data['timeSpent']/data['publishedDuration']
data

,gConfId,viewer,publishedDuration,timeSpent,channels,topics,ratioTP
0,d060a496adf41e03924be034a4900982,6f3cac6213ffceee27cc85414f458caa,209,0,['test4112101'],"['Beatles', 'Music', 'Songs']",0.000000
1,caf15e9c4f6875f3464635d9121b338e,6f3cac6213ffceee27cc85414f458caa,341,2,"['testcoun14845028', 'extrspor815448']",NaN,0.005865
2,16ebd5d71c182689e03d268f20f0d881,e5f85dfadc767b30248963bff66ca5a0,20,0,[],NaN,0.000000
3,caf15e9c4f6875f3464635d9121b338e,6f3cac6213ffceee27cc85414f458caa,341,26,"['testcoun14845028', 'extrspor815448']",NaN,0.076246
4,9a4d559f7b465b9d2b0724b1c3bad3c4,7b02c48d4240f57eb58874a04bbd52ec,628,0,"['datascie15186137', 'remi4271724']",NaN,0.000000
...,...,...,...,...,...,...,...
37335,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,209,0,"['stat10950965', 'worl12868041']","['Beatles', 'Music', 'Songs']",0.000000
37336,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,209,0,"['stat10950965', 'worl12868041']","['Beatles', 'Music', 'Songs']",0.000000
37337,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,341,0,['extrspor815448'],NaN,0.000000
37338,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,255,0,"['stat10950965', 'worl12868041', 'comp8710384']",NaN,0.000000
37339,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,170,0,[],NaN,0.000000

In [7]:
import random
import operator
import pandas as pd
import numpy as np


import scipy.sparse as sparse
from scipy.sparse.linalg import spsolve
from sklearn.preprocessing import MinMaxScaler

In [8]:
data['videoID'] = data['gConfId'].astype("category").cat.codes
data['viewerID'] = data['viewer'].astype("category").cat.codes

In [9]:
data

,gConfId,viewer,publishedDuration,timeSpent,channels,topics,ratioTP,videoID,viewerID
0,d060a496adf41e03924be034a4900982,6f3cac6213ffceee27cc85414f458caa,209,0,['test4112101'],"['Beatles', 'Music', 'Songs']",0.000000,41,7
1,caf15e9c4f6875f3464635d9121b338e,6f3cac6213ffceee27cc85414f458caa,341,2,"['testcoun14845028', 'extrspor815448']",NaN,0.005865,39,7
2,16ebd5d71c182689e03d268f20f0d881,e5f85dfadc767b30248963bff66ca5a0,20,0,[],NaN,0.000000,7,9
3,caf15e9c4f6875f3464635d9121b338e,6f3cac6213ffceee27cc85414f458caa,341,26,"['testcoun14845028', 'extrspor815448']",NaN,0.076246,39,7
4,9a4d559f7b465b9d2b0724b1c3bad3c4,7b02c48d4240f57eb58874a04bbd52ec,628,0,"['datascie15186137', 'remi4271724']",NaN,0.000000,30,8
...,...,...,...,...,...,...,...,...,...
37335,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,209,0,"['stat10950965', 'worl12868041']","['Beatles', 'Music', 'Songs']",0.000000,23,6
37336,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,209,0,"['stat10950965', 'worl12868041']","['Beatles', 'Music', 'Songs']",0.000000,23,6
37337,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,341,0,['extrspor815448'],NaN,0.000000,23,6
37338,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,255,0,"['stat10950965', 'worl12868041', 'comp8710384']",NaN,0.000000,23,6
37339,6ea9397e542f31a6e83afde3db485b45,6a3fab801f810c55a368694ccc065b3e,170,0,[],NaN,0.000000,23,6

In [10]:
item_lookup = data[['videoID', 'gConfId']].drop_duplicates()
item_lookup['videoID'] = item_lookup.videoID.astype(str)
item_lookup.loc[0,:]

videoID                                  41
gConfId    d060a496adf41e03924be034a4900982
Name: 0, dtype: object

In [11]:
data = data.drop(['gConfId', 'viewer'], axis=1)

In [35]:
data.head(40)

,publishedDuration,timeSpent,channels,topics,ratioTP,videoID,viewerID
1,341,2,"['testcoun14845028', 'extrspor815448']",NaN,0.005865,39,7
3,341,26,"['testcoun14845028', 'extrspor815448']",NaN,0.076246,39,7
8,20,1,[],NaN,0.050000,7,7
23,235,1,[],NaN,0.004255,27,5
24,170,7,[],NaN,0.041176,34,8
29,236,2,[],NaN,0.008475,14,5
32,209,23,"['stat10950965', 'worl12868041']","['Beatles', 'Music', 'Songs']",0.110048,41,7
46,341,204,['extrspor815448'],"['cycle', 'daredevils', 'extreme', 'games', 's...",0.598240,39,5
57,235,2,['testcoun14845028'],NaN,0.008511,27,7
61,25,14,[],NaN,0.560000,17,9
62,341,54,['extrspor815448'],"['cycle', 'daredevils', 'extreme', 'games', 's...",0.158358,39,7
77,341,19,['extrspor815448'],"['cycle', 'daredevils', 'extreme', 'games', 's...",0.055718,39,5
88,341,62,"['testcoun14845028', 'extrspor815448']",NaN,0.181818,39,7
105,341,7,['extrspor815448'],NaN,0.020528,39,7
107,25,14,[],NaN,0.560000,17,9
108,490,31,"['test4112101', 'test1748984']",NaN,0.063265,3,7
113,47,36,[],NaN,0.765957,21,7
114,612,106,[],NaN,0.173203,47,7
121,25,15,['test1748984'],NaN,0.600000,43,7
122,234,10,[],NaN,0.042735,8,7
130,47,30,[],NaN,0.638298,21,7
132,47,36,[],NaN,0.765957,21,7
134,25,15,[],NaN,0.600000,43,7
143,209,3,['test4112101'],"['Beatles', 'Music', 'Songs']",0.014354,41,7
147,25,2,"['test4112101', 'test1748984']",NaN,0.080000,43,7
151,209,132,[],"['Beatles', 'Music', 'Songs']",0.631579,41,1
154,25,2,['extrspor815448'],NaN,0.080000,35,7
158,20,9,[],NaN,0.450000,20,7
165,612,8,[],NaN,0.013072,47,7
171,341,161,"['testcoun14845028', 'extrspor815448']",NaN,0.472141,39,5
181,209,5,"['stat10950965', 'worl12868041']","['Beatles', 'Music', 'Songs']",0.023923,41,7
200,8872,9,[],NaN,0.001014,6,7
202,341,56,"['testcoun14845028', 'extrspor815448']",NaN,0.164223,39,7
210,25,2,"['test4112101', 'test1748984']",NaN,0.080000,43,7
211,209,11,[],NaN,0.052632,41,7
218,20,9,[],NaN,0.450000,20,7
219,235,23,['testcoun14845028'],NaN,0.097872,27,7
224,254,253,[],NaN,0.996063,25,7
228,255,6,"['test4112101', 'stat10950965', 'worl12868041'...",NaN,0.023529,18,10
242,374,28,[],NaN,0.074866,40,7

In [13]:
data = data.loc[data.ratioTP != 0.0]

In [14]:
viewers = list(np.sort(data.viewerID))
videos = list(np.sort(data.videoID))
timeSpent= list(data.ratioTP)
len(viewers)

5720

In [15]:
rows = data.viewerID.astype(int)
cols = data.videoID.astype(int)
type(rows)
type(cols)
rows

1        7
3        7
8        7
23       5
24       8
        ..
37304    6
37323    6
37325    6
37333    6
37334    6
Name: viewerID, Length: 5720, dtype: int32

In [16]:
data_sparse = sparse.csr_matrix((timeSpent, (rows, cols)),shape=(len(viewers),len(videos)))

In [17]:
data_sparse.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [18]:
def implicit_als(sparse_data, alpha_val=40, iterations=10, lambda_val=0.1, features=10):
    confidence = sparse_data * alpha_val
    # Calculate the foncidence for each value in our data
        
    
    # Get the size of user rows and item columns
    user_size, item_size = sparse_data.shape
    
    # We create the user vectors X of size users-by-features, the item vectors
    # Y of size items-by-features and randomly assign the values.
    X = sparse.csr_matrix(np.random.normal(size = (user_size, features)))
    Y = sparse.csr_matrix(np.random.normal(size = (item_size, features)))
    
    #Precompute I and lambda * I
    X_I = sparse.eye(user_size)
    Y_I = sparse.eye(item_size)
    I = sparse.eye(features)
    lI = lambda_val * I
    for i in range(iterations):
        print ('iteration %d of %d' % (i+1, iterations))
        
        # Precompute Y-transpose-Y and X-transpose-X
        yTy = Y.T.dot(Y)
        xTx = X.T.dot(X)

        # Loop through all users
        for u in range(user_size):

            # Get the user row.
            u_row = confidence[u,:].toarray() 

            # Calculate the binary preference p(u)
            p_u = u_row.copy()
            p_u[p_u != 0] = 1.0

            # Calculate Cu and Cu - I
            CuI = sparse.diags(u_row, [0])
            Cu = CuI + Y_I

            # Put it all together and compute the final formula
            yT_CuI_y = Y.T.dot(CuI).dot(Y)
            yT_Cu_pu = Y.T.dot(Cu).dot(p_u.T)
            X[u] = spsolve(yTy + yT_CuI_y + lI, yT_Cu_pu)

    
        for i in range(item_size):

            # Get the item column and transpose it.
            i_row = confidence[:,i].T.toarray()

            # Calculate the binary preference p(i)
            p_i = i_row.copy()
            p_i[p_i != 0] = 1.0

            # Calculate Ci and Ci - I
            CiI = sparse.diags(i_row, [0])
            Ci = CiI + X_I

            # Put it all together and compute the final formula
            xT_CiI_x = X.T.dot(CiI).dot(X)
            xT_Ci_pi = X.T.dot(Ci).dot(p_i.T)
            Y[i] = spsolve(xTx + xT_CiI_x + lI, xT_Ci_pi)

    return X, Y

In [19]:
user_vecs, item_vecs = implicit_als(data_sparse, iterations=20, features=20, alpha_val=40)

iteration 1 of 1

In [47]:
#------------------------------
# FIND SIMILAR ITEMS
#------------------------------

# Let's find similar videos  
item_id = 7

# Get the item row 
item_vec = item_vecs[item_id].T

# Calculate the similarity score and select the top 5 most similar.
scores = item_vecs.dot(item_vec).toarray().reshape(1,-1)[0]
top_3 = np.argsort(scores)[::-1][:3]

videos = []
video_scores = []

# Get and print the actual video
for idx in top_3:
    #item_lookup.gConfId.loc[item_lookup.videoID == str(idx)]
    videos.append(item_lookup.gConfId.loc[item_lookup.videoID == str(idx)])
    video_scores.append(scores[idx])
        
    
a = {'video': videos, 'score': video_scores}
similar = pd.DataFrame.from_dict(a, orient='index')
similar.transpose()
#similar = pd.DataFrame({'video': videos, 'score': video_scores})

print(similar)

                                                       0  \
video  1    caf15e9c4f6875f3464635d9121b338e
Name: gC...
score                                           0.109298

                                                       1  \
video  113    6c5b49f15e013edc3723261c94cdb5d3
Name: ...
score                                          0.0915133

                                                       2
video  0    d060a496adf41e03924be034a4900982
Name: gC...
score                                          0.0542367

In [50]:
viewer_id = 5;

videos_idx = data_sparse[viewer_id,:].nonzero()[1].astype(str)
videos_watched = item_lookup.loc[item_lookup.videoID.isin(videos_idx)]
print(videos_watched)

    videoID                           gConfId
1        39  caf15e9c4f6875f3464635d9121b338e
19       27  814236defa6e22761355aa07679fbd45
29       14  55d6948a0c6643e8bdb0a3d4837f5436
72       28  88ce2f8dce36e1afeb7108c5b53c6505
460      12  49742e14dd73f63ff00205c2a7e69d11

In [51]:
def recommend(viewer_id, data_sparse, user_vecs, item_vecs, item_lookup, num_items=10):
     # Get all interactions by the user
    user_interactions = data_sparse[viewer_id,:].toarray()

    # We don't want to recommend items the user has consumed. So let's
    # set them all to 0 and the unknowns to 1.
    user_interactions = user_interactions.reshape(-1) + 1 #Reshape to turn into 1D array
    user_interactions[user_interactions > 1] = 0

    # This is where we calculate the recommendation by taking the 
    # dot-product of the user vectors with the item vectors.
    rec_vector = user_vecs[viewer_id,:].dot(item_vecs.T).toarray()

    # Let's scale our scores between 0 and 1 to make it all easier to interpret.
    min_max = MinMaxScaler()
    rec_vector_scaled = min_max.fit_transform(rec_vector.reshape(-1,1))[:,0]
    recommend_vector = user_interactions*rec_vector_scaled
   
    # Get all the artist indices in order of recommendations (descending) and
    # select only the top "num_items" items. 
    item_idx = np.argsort(recommend_vector)[::-1][:num_items]
    
    
    videos = []
    scores = []

    # Loop through our recommended artist indicies and look up the actial artist name
    for idx in item_idx:
        videos.append(item_lookup.gConfId.loc[item_lookup.videoID == str(idx)].iloc[0])
        scores.append(recommend_vector[idx])

    # Create a new dataframe with recommended video names and scores
    recommendations = pd.DataFrame({'video_recommended': videos, 'score': scores})
    
    return recommendations

# Let's generate and print our recommendations
recommendations = recommend(viewer_id, data_sparse, user_vecs, item_vecs, item_lookup)
print(recommendations)

                  video_recommended     score
0  6c5b49f15e013edc3723261c94cdb5d3  0.667137
1  d060a496adf41e03924be034a4900982  0.456506
2  da9066ba5d9b6f0d7ca3d16efac1158d  0.341505
3  5fbd44a3cdfcb313a47ebf2c87911d47  0.274554
4  16ebd5d71c182689e03d268f20f0d881  0.242996
5  9af108272ac0da9b9702a959a3bce229  0.179199
6  6ea9397e542f31a6e83afde3db485b45  0.174779
7  f3f8dbf1e257f9cfcca3c14011be120a  0.149544
8  fab4fd4f0541bcf51a31ad99aac2a9b8  0.122415
9  aa5ee3c316b4acd540df64e2b3006f32  0.117420